---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::before {
  #content: url("https://raw.githubusercontent.com/degi/genriver/refs/heads/main/www/images/genriver_logo.svg");
  content: url("/genriver_logo.png");
  display: inline-block;
  position: relative;
  width: 32px;
  padding: 10px;
}
